* {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

header {
    color: blueviolet;
    font-size: 60px;
    padding: 50px;
}

ul {
    list-style-type: none;
}

section {
    padding: 50px;
    font-weight: bold;
    font-size: 30px;
    color: blue;
}

footer h2 {
    font-size: 15px;
}
