* {
    margin: 0;
    padding: 0;
}

header {
    color: blueviolet;
    font-size: 60px;
    padding: 50px;
}

ul {
    list-style-type: none;
}

section {
    padding: 50px;
    font-weight: bold;
    font-size: 30px;
    color: blue;
    border: 10px, solid, black;
    border-radius: 5px;

}